.cartCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.cartProductInfo{
  display: flex;
  flex-direction: row-reverse;
  width: 220px;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 5px solid #DAAD86;
  padding: 5px 25px;
  position: relative;
}
.cartProductInfoText{
  display: flex;
  flex-direction: column;
  width: 100px;
}
.cartInfoText{
  margin-bottom: 0px;
}
.cartBig{
  margin-top: 80px;
}
.cartPay{
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 8px 8px;
  margin: 0px 5px 20px 5px;
  background-color: #23f7a9;
  color: #fff;
}
.deleteProdCart{
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  font-size: 15px;
  color: red;
  font-weight: 800;
}
